<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP-NET</title>
</head>
<body>
<h1>Мы рады вам!</h1>
<hr>

<h4>Информация</h4>
<p><b>Название: </b><span th:text="${product.title}"></span></p>
<p><b>Описание: </b><span th:text="${product.description}"></span></p>
<p><b>Цена: </b><span th:text="${product.price}"></span></p>
<p><b>Город: </b><span th:text="${product.city}"></span></p>

<!-- Make the author's name a hyperlink -->
<p><b>Автор: </b><a th:href="@{'/user/' + ${product.user.id}}"><span th:text="${product.user.name}"></span></a></p>

<hr>

<div th:each="img : ${images}">
    <img th:src="@{'/images/' + ${img.id}}" height="60px"/><br>
</div>

<form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>




