<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Archive</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Upload Archive for Product: <span th:text="${product.title}"></span></h2>

    <!-- Проверяем наличие архива для продукта -->
    <div th:if="${!archiveExists}">
        <form th:action="@{/archive/up-archive/{productName}(productName=${product.title})}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="archiveFile">Choose Archive File</label>
                <input type="file" class="form-control-file" id="archiveFile" name="archiveFile" accept=".zip" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload Archive</button>
        </form>
    </div>

    <!-- Форма для удаления архива -->
    <div th:if="${archiveExists}">
        <div class="mt-3">
            <form th:action="@{/archive/del-archive/{productName}(productName=${product.title})}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-danger">Delete Archive</button>
            </form>
        </div>
    </div>

    <h2>Play Product: <span th:text="${product.title}"></span></h2>

    <a th:href="@{'/unity/startArchive/' + ${productName}}" class="btn btn-success">Начать проект</a>


    <h2>Download Archive for Product: <span th:text="${product.title}"></span></h2>

    <!-- Форма для скачивания архива -->

    <a th:href="@{'/archive/download/' + ${productName}}" class="btn btn-success">Download Archive</a>



    <div id="result"></div>

</div>

<!-- Bootstrap JS and dependencies -->
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- JavaScript для начала проекта Unity -->
<script>
    function startUnityProject() {
    // Получаем название проекта из поля ввода
    var projectNameInArchive = document.getElementById('name').value;

    // Отправляем POST-запрос на сервер
    fetch('/unity/startArchive?name=' + projectNameInArchive, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': document.getElementById('csrfToken').value // Передача CSRF-токена в заголовке запроса
        }
    })
    .then(response => response.text())
    .then(data => {
        // Обработка ответа от сервера
    })
    .catch(error => {
        // Обработка ошибок
    });
}

</script>

</body>
</html>




