<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Video</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Upload Video for Product: <span th:text="${product.title}"></span></h2>
    <form th:action="@{/video/upload/{productName}(productName=${product.title})}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="videoFile">Choose Video File</label>
            <!-- Учитываем изменение в параметре name -->
            <input type="file" class="form-control-file" id="videoFile" name="videoFile" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload Video</button>
    </form>

    <!-- Видео-плеер -->
    <div class="mt-3">
        <h3>Video Player</h3>
        <!-- Плеер для воспроизведения видео, используя загруженный файл -->
        <video id="uploadedVideo" width="400" controls>
            <source th:src="@{/video/download/__${product.title}__}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>


    <!-- Форма для перехода к представлению удаления -->
    <div class="mt-3">
        <form th:action="@{/video/delete/{productName}(productName=${product.title})}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-danger">Delete Video</button>
        </form>
    </div>

    <div th:if="${message}">
        <div class="alert alert-info mt-3" th:text="${message}"></div>
    </div>
</div>



<!-- Bootstrap JS and dependencies -->
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>


